<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>week1iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9C79864A1F5A4E9800EF11DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C7986601F5A4E9800EF11DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C79866B1F5A4E9800EF11DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
